@define-color base   #1d1d1d;
@define-color mantle #1d1d1d;
@define-color crust  #1d1d1d;

@define-color text     #f7f6ec;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #4c99d3;
@define-color lavender  #a57fc4;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #7bb75b;
@define-color yellow    #e8b32a;
@define-color peach     #fab387;
@define-color maroon    #d18ea6;
@define-color red       #ce3e60;
@define-color mauve     #5f4190;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    font-family: Caskaydia Cove Nerd Font;
    font-weight: bolder;
    font-size: 16px;
}

window#waybar {
    background-color: @crust;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
    color: @blue;
    box-shadow: inherit;
    text-shadow: inherit;
    background: @crust;
    border: @crust;
}

#workspaces button {
    padding: 0 5px;
    color: @surface2;
    margin: 4px 0 4px 6px;
    transition: color 200ms ease-in-out;
}

#workspaces button.selected {
    color: @blue;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.focused {
    color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 9px;
    color: @text;
    border-radius: 15px;
    margin: 5px 0;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, reduce left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 2px;
}

#clock {
  color: @yellow;
}

#pulseaudio {
  color: @lavender;
}

#pulseaudio.muted {
  color: @surface2;
}

#network {
  color: @blue;
}

#network.disconnected {
  color: @surface2;
}

#battery {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
